[color]
	ui = true
[user]
	name = David Amey
	email = david@amey.org.uk
[core]
	autocrlf = false
	fileMode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[alias]
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	br = branch
	brd = branch -d
	brD = branch -D
	merged = branch --merged
	st = status
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit -m
	cp = cherry-pick
	amend = commit --amend -m
	dev = !git checkout dev && git pull origin dev
	unstage = reset --soft HEAD^
	l10 = ls -n 10
	ls = log --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%C(cyan)%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
	f = "!git ls-files | grep -i"
	gr = grep -Ii
	la = "!git config -l | grep alias | cut -c 7-"
	redate = rebase --committer-date-is-author-date
	pu = !git push origin `git branch --show-current`
	skip = update-index --skip-worktree
	noskip = update-index --no-skip-worktree
	skipped = !git ls-files -v|grep '^S'